<div class="my-5">
  <mat-card appearance="outlined">
    <mat-card-content class="m-5">
      <div class="flex flex-col">
        <div class="flex justify-between">
          <div class="flex flex-col">
            <span class="text-base font-medium">Users</span>
            <p class="font-thin text-sm">A list of all the users in your account including their name, title, email and
              role.</p>
          </div>
        </div>
        <div class="relative overflow-x-auto">
          <table class="w-full font-thin text-left rtl:text-right">
            <thead class="text-xs border-b">
            <tr>
              <th scope="col" class="px-6 py-3">
                Name
              </th>
              <th scope="col" class="px-6 py-3">
                Company
              </th>
              <th scope="col" class="px-6 py-3">
                Role
              </th>
              <th scope="col" class="px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
            </thead>
            <tbody>
              @for (user of users$ | async; track user.id) {
                <tr class="border-b hover:bg-gray-50">
                  <th scope="row" class="px-6 py-2 font-normal text-xs">
                    {{user?.name}}
                  </th>
                  <td class="px-6 py-2 font-thin text-xs">
                    {{user?.company?.name}}
                  </td>
                  <td class="px-6 py-2 font-thin text-xs">
                    @if (user?.role != undefined) {
                      {{user?.role == role.Admin ? 'Admin' : 'Staff'}}
                    }@else {
                      -
                    }
                  </td>
                  <td class="px-6 py-2 text-right gap-3 flex">
                    <a [routerLink]="user.id.toString()" routerLinkActive="active" class="text-blue-600 font-thin hover:underline text-xs">Edit</a>
                    <button class="text-blue-600 font-thin hover:underline text-xs" (click)="deleteUser(user.id)">Delete</button>
                  </td>
                </tr>
              }

            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
